.grid_8
  %h3 This is me in the grand canyon:
  %img{:src => "/img/home/headshot.gif"}
.grid_3
  %h3 Quotes:
  %p.quote "Nobody cares how much you know, until they know how much you care. "
  %p.quote "It's hard to fail, but it is worse never to have never tried to succed."
  %p.quote "Keep your eyes on the stars, and your feet on the ground."

.clear

.grid_10
  %h3 This site is probably not mobile friendly. 
  &nbsp;
